<a href="https://colab.research.google.com/github/GZabalaG/AIMaster/blob/main/Datasets_Analysis/Car_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cars

In [8]:
import pandas as pd
from zipfile import ZipFile
import os
from google.colab import drive

In [2]:
drive.mount('/content/gdrive')

os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive"

%cd /content

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content
usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: unrecognized arguments: -c

In [4]:
!kaggle datasets download adityadesai13/used-car-dataset-ford-and-mercedes

used-car-dataset-ford-and-mercedes.zip: Skipping, found more recently modified local copy (use --force to force download)

In [9]:
with ZipFile('used-car-dataset-ford-and-mercedes.zip', 'r') as zipObj:
   zipObj.extractall()

In [20]:
audi = pd.read_csv('audi.csv')
bmw = pd.read_csv('bmw.csv')
ford = pd.read_csv('ford.csv')
hyundi = pd.read_csv('hyundi.csv')
mercedes = pd.read_csv('merc.csv')
skoda = pd.read_csv('skoda.csv')
toyota = pd.read_csv('toyota.csv')
vw = pd.read_csv('vw.csv')

cars = {
    'Audi':audi,
    'BMW':bmw,
    'Ford':ford,
    'Hyundi':hyundi,
    'Mercedes':mercedes,
    'Skoda':skoda,
    'Toyota':toyota,
    'VW':vw
}

In [22]:
for k, v in cars.items():
  print(k)
  display(v)

Audi

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10663    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10664    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10665    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10666    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10667    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10668 rows x 9 columns]

BMW

           model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0       5 Series  2014  11200    Automatic  ...    Diesel  125  57.6         2.0
1       6 Series  2018  27000    Automatic  ...    Petrol  145  42.8         2.0
2       5 Series  2016  16000    Automatic  ...    Diesel  160  51.4         3.0
3       1 Series  2017  12750    Automatic  ...    Diesel  145  72.4         1.5
4       7 Series  2014  14500    Automatic  ...    Diesel  160  50.4         3.0
...          ...   ...    ...          ...  ...       ...  ...   ...         ...
10776         X3  2016  19000    Automatic  ...    Diesel  150  54.3         2.0
10777   5 Series  2016  14600    Automatic  ...    Diesel  125  60.1         2.0
10778   3 Series  2017  13100       Manual  ...    Petrol  200  42.8         2.0
10779   1 Series  2014   9930    Automatic  ...    Diesel   30  64.2         2.0
10780         X1  2017  15981    Automatic  ...    Diesel  125  57.6         2.0

[10781 rows x 9 columns]

Ford

         model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0       Fiesta  2017  12000    Automatic  ...    Petrol  150  57.7         1.0
1        Focus  2018  14000       Manual  ...    Petrol  150  57.7         1.0
2        Focus  2017  13000       Manual  ...    Petrol  150  57.7         1.0
3       Fiesta  2019  17500       Manual  ...    Petrol  145  40.3         1.5
4       Fiesta  2019  16500    Automatic  ...    Petrol  145  48.7         1.0
...        ...   ...    ...          ...  ...       ...  ...   ...         ...
17960   Fiesta  2016   7999       Manual  ...    Petrol  125  54.3         1.2
17961    B-MAX  2017   8999       Manual  ...    Petrol  150  47.1         1.4
17962    B-MAX  2014   7499       Manual  ...    Petrol   30  57.7         1.0
17963    Focus  2015   9999       Manual  ...    Diesel   20  67.3         1.6
17964       KA  2018   8299       Manual  ...    Petrol  145  57.7         1.2

[17965 rows x 9 columns]

Hyundi

        model  year  price transmission  ...  fuelType tax(£)   mpg  engineSize
0         I20  2017   7999       Manual  ...    Petrol    145  58.9         1.2
1      Tucson  2016  14499    Automatic  ...    Diesel    235  43.5         2.0
2      Tucson  2016  11399       Manual  ...    Diesel     30  61.7         1.7
3         I10  2016   6499       Manual  ...    Petrol     20  60.1         1.0
4        IX35  2015  10199       Manual  ...    Diesel    160  51.4         2.0
...       ...   ...    ...          ...  ...       ...    ...   ...         ...
4855      I30  2016   8680       Manual  ...    Diesel      0  78.4         1.6
4856      I40  2015   7830       Manual  ...    Diesel     30  65.7         1.7
4857      I10  2017   6830       Manual  ...    Petrol     20  60.1         1.0
4858   Tucson  2018  13994       Manual  ...    Petrol    145  44.8         1.6
4859   Tucson  2016  15999    Automatic  ...    Diesel    125  57.6         1.7

[4860 rows x 9 columns]

Mercedes

            model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0             SLK  2005   5200    Automatic  ...    Petrol  325  32.1         1.8
1         S Class  2017  34948    Automatic  ...    Hybrid   20  61.4         2.1
2        SL CLASS  2016  49948    Automatic  ...    Petrol  555  28.0         5.5
3         G Class  2016  61948    Automatic  ...    Petrol  325  30.4         4.0
4         G Class  2016  73948    Automatic  ...    Petrol  325  30.1         4.0
...           ...   ...    ...          ...  ...       ...  ...   ...         ...
13114     C Class  2020  35999    Automatic  ...    Diesel  145  55.4         2.0
13115     B Class  2020  24699    Automatic  ...    Diesel  145  55.4         2.0
13116   GLC Class  2019  30999    Automatic  ...    Diesel  145  41.5         2.1
13117   CLS Class  2019  37990    Automatic  ...    Diesel  145  45.6         2.0
13118     S Class  2019  54999    Automatic  ...    Diesel  145  52.3         2.9

[13119 rows x 9 columns]

Skoda

              model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0           Octavia  2017  10550       Manual  ...    Petrol  150  54.3         1.4
1            Citigo  2018   8200       Manual  ...    Petrol  145  67.3         1.0
2           Octavia  2019  15650    Automatic  ...    Diesel  145  67.3         2.0
3      Yeti Outdoor  2015  14000    Automatic  ...    Diesel  165  51.4         2.0
4            Superb  2019  18350       Manual  ...    Petrol  150  40.9         1.5
...             ...   ...    ...          ...  ...       ...  ...   ...         ...
6262           Yeti  2014  11440    Semi-Auto  ...    Petrol  160  44.8         1.2
6263        Octavia  2014  10990    Semi-Auto  ...    Petrol   30  56.5         1.4
6264          Fabia  2017   9500    Semi-Auto  ...    Petrol  145  61.4         1.0
6265         Citigo  2016   5999       Manual  ...    Petrol   20  62.8         1.0
6266          Fabia  2017   9232    Semi-Auto  ...    Petrol   20  60.1         1.2

[6267 rows x 9 columns]

Toyota

               model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0               GT86  2016  16000       Manual  ...    Petrol  265  36.2         2.0
1               GT86  2017  15995       Manual  ...    Petrol  145  36.2         2.0
2               GT86  2015  13998       Manual  ...    Petrol  265  36.2         2.0
3               GT86  2017  18998       Manual  ...    Petrol  150  36.2         2.0
4               GT86  2017  17498       Manual  ...    Petrol  145  36.2         2.0
...              ...   ...    ...          ...  ...       ...  ...   ...         ...
6733              IQ  2011   5500    Automatic  ...    Petrol   20  58.9         1.0
6734   Urban Cruiser  2011   4985       Manual  ...    Petrol  125  50.4         1.3
6735   Urban Cruiser  2012   4995       Manual  ...    Diesel  125  57.6         1.4
6736   Urban Cruiser  2011   3995       Manual  ...    Petrol  125  50.4         1.3
6737   Urban Cruiser  2011   4495       Manual  ...    Petrol  125  50.4         1.3

[6738 rows x 9 columns]

VW

        model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0       T-Roc  2019  25000    Automatic  ...    Diesel  145  49.6         2.0
1       T-Roc  2019  26883    Automatic  ...    Diesel  145  49.6         2.0
2       T-Roc  2019  20000       Manual  ...    Diesel  145  50.4         2.0
3       T-Roc  2019  33492    Automatic  ...    Petrol  145  32.5         2.0
4       T-Roc  2019  22900    Semi-Auto  ...    Petrol  150  39.8         1.5
...       ...   ...    ...          ...  ...       ...  ...   ...         ...
15152     Eos  2012   5990       Manual  ...    Diesel  125  58.9         2.0
15153     Fox  2008   1799       Manual  ...    Petrol  145  46.3         1.2
15154     Fox  2009   1590       Manual  ...    Petrol  200  42.0         1.4
15155     Fox  2006   1250       Manual  ...    Petrol  150  46.3         1.2
15156     Fox  2007   2295       Manual  ...    Petrol  145  46.3         1.2

[15157 rows x 9 columns]